@charset "utf-8";

#staff {}

#state_mb_email { font-weight:bold; color:red; }

/* preview */
#staff ul.preview > li > div.content { line-height:22px; color:#303030; }

#staff div.write table.list_table {}
#staff div.write table.list_table tr td.subject {}
#staff div.write table.list_table tr td.subject input.checkbox { margin-left:10px; }